<?xml version="1.0"?>
<model>
  <name>aruco_marker_final</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Mariachiara Bruno</name>
    <email>mariach.bruno@studenti.unina.it</email>
  </author>

  <description>
    ArUco Marker ID 666 - Key Marker for Level 2
  </description>
</model>