<?xml version="1.0"?>

<model>
  <name>drill_press</name>
  <version>1.0</version>
  <sdf version="1.6">drill_press.sdf</sdf>

  <author>
    <name>Antonio Maiello</name>
    <email>maiello22@hotmail.com</email>
  </author>

  <description>
    MaielloMap_Drill_Press
  </description>

  <depend>
    <model>
      <uri>model://ground_plane</uri>
    </model>
  </depend>
</model>